<template>
  <q-page class="window-height window-width justify-center row items-center">
    <div class="row q-gutter-lg flex items-center justify-center">
      <div class="col-8 bg-blue text-center">
        <q-card
          square
          class="shadow-24"
        >
          <q-card-section class="bg-secondary">
            <h6 class="text-h5 text-white text-center q-my-sm">
              Authentification
            </h6>
          </q-card-section>
        </q-card>
      </div>
      <div class="column">
        <div class="row bg-lime">
          <jstc-part-login-card>
            <div slot="title">Avec vos identifiants</div>
            <jstc-part-login-form
              slot="content"
              :modelLogin="modelLogin"
            />
            <template slot="bot-content">
              <q-btn
                unelevated
                size="md"
                type="submit"
                color="primary"
                class="full-width text-white"
                label="Connexion"
              />
              <div class="q-pt-md text-center">
                <p class="text-grey-6">Mots magiques perdus ?</p>
              </div>
            </template>
          </jstc-part-login-card>
        </div>
      </div>
      <q-separator vertical />
      <div class="column">
        <div class="row">
          <jstc-part-login-card>
            <div slot="title">Via une alternative</div>
            <template slot="content">

              <div class="text-center q-pa-md q-gutter-md">
                <q-btn
                  round
                  color="indigo-7"
                >
                  <q-icon
                    name="fab fa-facebook-f"
                    size="1.2rem"
                  />
                </q-btn>
                <q-btn
                  round
                  color="red-8"
                >
                  <q-icon
                    name="fab fa-google-plus-g"
                    size="1.2rem"
                  />
                </q-btn>
                <q-btn
                  round
                  color="light-blue-5"
                >
                  <q-icon
                    name="fab fa-twitter"
                    size="1.2rem"
                  />
                </q-btn>
              </div>
            </template>
          </jstc-part-login-card>
        </div>
      </div>
    </div>

  </q-page>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'PageAuthLogin',
  components: {
    'jstc-part-login-card': () => import('pages/auth/login_v1/parts/LoginCard.vue'),
    'jstc-part-login-form': () => import('pages/auth/login_v1/parts/LoginForm.vue')
  },
  computed: mapState({
    modelLogin: state => state.auth.modelLogin
  }),
  methods: {}
}
</script>
