<template>
  <q-form
    class="q-pa-sm"
    @submit="sendAuth"
  >
    <q-input
      square
      clearable
      :value="modelLogin.username"
      type="texte"
      name="username"
      label="Identité"
      aria-autocomplete="username"
      @input="setModelLoginValue({ 'value': $event, 'name': 'username'})"
    >
      <template v-slot:prepend>
        <q-icon name="person" />
      </template>
    </q-input>
    <q-input
      square
      clearable
      :value="modelLogin.password"
      type="password"
      label="Password"
      autocomplete="current-password"
      @input="setModelLoginValue({ 'value': $event, 'name': 'password'})"
    >
      <template v-slot:prepend>
        <q-icon name="lock" />
      </template>
    </q-input>
    <div class="q-mt-sm">
      <q-btn
        unelevated
        size="md"
        type="submit"
        color="primary"
        class="full-width text-white"
        label="Connexion"
      />
      {{ this.modelLogin }}
    </div>
  </q-form>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'

export default {
  computed: mapState({
    modelLogin: state => state.auth.modelLogin
  }),
  methods: {
    ...mapActions({
      sendAuth: 'auth/sendAuth'

    }),
    ...mapMutations({
      setModelLoginValue: 'auth/setModelLoginValue'
    })
  }
}
</script>
