<template>
  <div>
    <q-layout
      view="hhr LpR lfr"
      class="window-height bg-grey-4"
    >

      <q-page-container>
        <router-view></router-view>
      </q-page-container>
      <router-view name="footer"></router-view>
    </q-layout>
  </div>
</template>

<script>
export default {
  name: 'SimpleEmptyLayout',
  components: {
  }
}
</script>
