<template>
  <div class="no-scroll">
    <q-layout
      view="hHr Lpr ffr"
      class="window-height"
    >
      <jstc-header />
      <jstc-drawer-left />
      <jstc-drawer-right />

      <q-page-container>
        <q-page
          class="bg-primary"
          padding
        >
          <router-view></router-view>
        </q-page>
      </q-page-container>

      <!-- <jstc-footer /> -->
    </q-layout>
  </div>
</template>

<script>
export default {
  components: {
    'jstc-header': () => import('layouts/parts/Header.vue'),
    'jstc-drawer-left': () => import('layouts/parts/DrawerLeft.vue'),
    'jstc-drawer-right': () => import('layouts/parts/DrawerRight.vue')
    // 'jstc-footer': () => import('layouts/parts/Footer.vue')
  }
}
</script>
