<template>
  <q-page class="window-height window-width flex flex-center">
    <jstc-part-login-card>
      <jstc-part-login-form slot="content" />
      <template slot="bot-content">
        <div class="text-center">
          <p class="text-grey-6">Mots magiques perdus ?</p>
        </div>
      </template>
    </jstc-part-login-card>
  </q-page>
</template>

<script>
export default {
  components: {
    'jstc-part-login-card': () => import('pages/auth/login_v1/parts/LoginCard.vue'),
    'jstc-part-login-form': () => import('pages/auth/login_v2/parts/LoginForm.vue')
  }
}
</script>
