<template>
  <user-layout-page-container>
    <div class="q-pb-md q-gutter-sm">
      <q-btn
        color="accent"
        label="Accent"
      />
      <q-btn
        color="primary"
        label="Primary"
      />
      <q-btn
        color="secondary"
        label="Secondary"
      />
      <q-btn
        color="positive"
        label="Positive"
      />
      <q-btn
        color="info"
        label="Info"
      />
      <q-btn
        color="warning"
        label="Warning"
      />
      <q-btn
        color="negative"
        label="Negative"
      />
    </div>
    <p
      v-for="n in 15"
      :key="n"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nihil praesentium molestias a adipisci, dolore vitae odit, quidem consequatur optio voluptates asperiores pariatur eos numquam rerum delectus commodi perferendis voluptate?
    </p>
    <div class="q-pb-md q-gutter-sm">
      <q-btn
        color="accent"
        label="Accent"
      />
      <q-btn
        color="primary"
        label="Primary"
      />
      <q-btn
        color="secondary"
        label="Secondary"
      />
      <q-btn
        color="positive"
        label="Positive"
      />
      <q-btn
        color="info"
        label="Info"
      />
      <q-btn
        color="warning"
        label="Warning"
      />
      <q-btn
        color="negative"
        label="Negative"
      />
    </div>
  </user-layout-page-container>
</template>

<script>
export default {
  components: {
    'user-layout-page-container': () => import('components/UserPageLayout.vue')
  }
}
</script>
