<template>
  <q-page padding>
    <q-toolbar class="bg-secondary text-white">
      <q-icon
        name="far fa-calendar-alt"
        class="q-ml-md"
        size="1.5rem"
      ></q-icon>
      <q-btn
        flat
        dense
        label="Today"
        class="q-mx-md"
        @click="setToday"
      ></q-btn>
      <q-btn
        flat
        dense
        round
        icon="keyboard_arrow_left"
        @click="onPrev"
      ></q-btn>
      <q-btn
        flat
        dense
        round
        icon="keyboard_arrow_right"
        @click="onNext"
      ></q-btn>
      <q-select
        v-model="calendarView"
        :options="viewOptions"
        outlined
        :dark="$q.dark.isActive"
        dense
        emit-value
        map-options
        :input-class="contentClass"
        :popup-content-class="contentClass"
        style="min-width: 120px; background: transparent; color: white"
      ></q-select>
    </q-toolbar>
    <div class="calendar-container">
      <!--
        :key="keyValue"
        :style="containerStyle"
        v-touch-swipe.mouse.left.right="handleSwipe"
        v-model="selectedDate"
        :locale="locale"
        :max-days="maxDays"
        :interval-style="modifiedStyle"
        :day-style="modifiedStyle"
        :resource-style="modifiedStyle"
        animated
        transition-prev="slide-right"
        transition-next="slide-left"
        :drag-over-func="onDragOver"
        :drop-func="onDrop"
        :theme="theme"
        :view="calendarView"
        :weekdays="weekdays"
        :interval-minutes="60 * intervalRangeStep"
        :interval-start="intervalStart"
        :interval-count="intervalCount"
        :hour24-format="hour24Format"
        :short-month-label="shortMonthLabel"
        :show-day-of-year-label="showDayOfYearLabel"
        :hide-header="hideHeader"
        :no-scroll="noScroll"
        :short-weekday-label="shortWeekdayLabel"
        :short-interval-label="shortIntervalLabel"
        :interval-height="intervalHeight"
        :resource-height="resourceHeight"
        :resource-width="resourceWidth"
        :day-height="dayHeight"
        :show-month-label="showMonthLabel"
        :show-work-weeks="showWorkWeeks"
        :no-default-header-btn="noDefaultHeaderBtn"
        :no-default-header-text="noDefaultHeaderText"
        :enable-theme="enableTheme === true"
        :resources="resources"
        @change="onChanged"
        @moved="onMoved"
        @click:date="onDateChanged"
        @click:interval="addEventMenu"
        @click:time="addEventMenu"
        @click:day="addEventMenu"
        @click:week="addEventMenu"
        @click:resource="resourceClicked"
        @click:resource:day="resourceDayClicked"
        dayPadding="35px 2px" -->
      <q-calendar />
    </div>
  </q-page>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  name: 'PageCalendar',
  methods: {
    ...mapMutations({
      // 'setToday': 'calendar/setToday'
    }),
    formatDate (date) {
      const d = date !== void 0 ? new Date(date) : new Date(),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear()
      return [year, this.padTime(month), this.padTime(day)].join('-')
    },
    setToday () {
      console.log(this.formatDate())
      this.$root.$emit('calendar:today', this.formatDate())
    },
    padTime (val) {
      val = Math.floor(val)
      if (val < 10) {
        return '0' + val
      }
      return val + ''
    }
  }
}
</script>
