<template>
  <q-drawer
    :value="right"
    side="right"
    elevated
    behavior="desktop"
    bordered
  >
    <!-- drawer content -->
    Truc Right

    {{ right }}
  </q-drawer>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'LayoutPartsDrawerRight',
  methods: {
    test: () => {
      return true
    }
  },
  // mapGetters({
  //   getDrawerRight: function () {
  //     console.log(this.$store.getters)
  //   }
  // })
  computed: mapState({
    right: state => state.layout.drawerRight
  })
}
</script>
