<template>
  <q-drawer
    show-if-above
    v-model="left"
    side="left"
    behavior="desktop"
    elevated
    dark
    bordered
    persistent
    :mini="miniState"
    @mouseover="miniState = false"
    @mouseout="miniState = true"
    :width="200"
    mini-to-overlay
    class="border_primary"
    content-class="bg-white text-primary"
  >
    <!-- :width="200"
    :mini="miniState"
    @mouseover="miniState = false"
    @mouseout="miniState = true"
    mini-to-overlay -->
    <!-- drawer content -->
    <q-scroll-area class="fit">
      <q-separator
        inset
        dark
      />
      <q-list padding>
        <q-expansion-item
          expand-separator
          icon="mdi-fridge-outline"
          label="Cuisine"
        >
          <q-list>
            <q-item>
              <q-item-section>
                Truc
              </q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>
        <q-item
          clickable
          v-ripple
        >
          <q-item-section avatar>
            <q-icon name="mdi-fridge-outline" />
          </q-item-section>

          <q-item-section>
            Cuisine
          </q-item-section>
          <q-menu
            anchor="top right"
            self="top left"
          >
            <q-list>
              <q-item>
                <q-item-section avatar>
                  <q-icon name="mdi-notebook" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-item>

        <q-item
          clickable
          v-ripple
        >
          <q-item-section avatar>
            <q-icon name="drafts" />
          </q-item-section>

          <q-item-section>
            Drafts
          </q-item-section>
        </q-item>
      </q-list>
    </q-scroll-area>

  </q-drawer>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'LayoutPartsDrawerLeft',
  computed: mapState({
    left: state => state.layout.drawerLeft
  }),
  data: function () {
    return {
      miniState: false
    }
  }
}
</script>

<style lang="stylus">
.q-drawer--bordered {
  border-color: $primary !important;
}
</style>
