<template>
  <q-header
    class="text-primary bg-white"
    bordered
    elevated
    :style="headerStyle"
  >
    <q-toolbar>
      <q-btn
        dense
        flat
        round
        icon="menu"
        @click="toggleDrawerLeft"
      />
      <q-toolbar-title class="text-center">
        Bienvenue { user.displayName }
      </q-toolbar-title>

      <q-btn
        dense
        flat
        round
        icon="notifications"
        @click="toggleDrawerRight"
      />
    </q-toolbar>

  </q-header>
</template>

<script>
import { mapMutations } from 'vuex'
import { colors } from 'quasar'

export default {
  // computed: mapState({
  // left: state => state.layout.drawerLeft,
  // right: state => state.layout.drawerRight
  // }),
  computed: {
    headerStyle () {
      return {
        borderColor: colors.getBrand('primary')
      }
    }
  },
  methods: {
    ...mapMutations({
      toggleDrawerRight: 'layout/toggleDrawerRight',
      toggleDrawerLeft: 'layout/toggleDrawerLeft'
    })
  }
}
</script>
