<template>
  <user-layout-page-container>
    <div class="text-h2 text-center text-accent">{{ pageTitle }}</div>
    {{ tableData }}
    <q-table
      :columns="tableColumns"
      :data="tableData"
      flat
      bordered
      square
    >
      <template v-slot:top="props">
        <div class="q-mb-md">
          <div class="row">
            <btn-modal :btnProps="btnPropsAdd">
            </btn-modal>
          </div>
        </div>
      </template>
      <template v-slot:body-cell-actions="props">
        <q-td class="text-right">
          <q-btn
            icon="details"
            flat
            round
            color="primary"
          />

          <q-btn
            icon="crop_din"
            flat
            round
            color="secondary"
          />
          <q-btn
            icon="clear"
            flat
            round
            color="accent"
          />
        </q-td>
      </template>
    </q-table>
  </user-layout-page-container>
</template>

<script>
export default {
  props: {
    pageTitle: String,
    tableColumns: {
      required: true,
      type: Array,
      default: function () {
        return []
      }
    },
    tableData: {
      required: true,
      type: Array,
      default: function () {
        return []
      }
    }
  },
  data: function () {
    return {
      btnPropsAdd: {
        label: 'Ajouter',
        icon: 'add'
      },
      btnPropsEdit: {
        label: '',
        icon: 'crop_din',
        squared: false,
        flat: true
      }
    }
  },
  computed: {
    // appInfosComputed () {
    //   return Object.assign({}, this.appInfosDefault, this.appInfos)
    // }
  },
  components: {
    'user-layout-page-container': () => import('components/UserPageLayout.vue'),
    'btn-modal': () => import('components/BtnModal.vue')
  }
}
</script>
