<template>
  <q-card
    square
    class="shadow-24"
    style="width:300px;"
  >
    <q-card-section class="bg-primary">
      <h6 class="text-h5 text-white text-center q-my-sm">
        <slot name="title"></slot>
      </h6>
    </q-card-section>
    <q-card-section>
      <slot name="content"></slot>
    </q-card-section>
    <q-card-section class="q-px-md q-pb-none">
      <slot name="bot-content"></slot>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'PageAuthPartLoginCard'
}
</script>
