<template>
  <q-form class="q-pa-sm">
    <q-input
      square
      clearable
      :value="modelLogin.identity"
      type="texte"
      name="username"
      label="Identité"
      aria-autocomplete="username"
      @input="setModelLoginValue({ 'value': $event, 'name': 'identity'})"
    >
      <template v-slot:prepend>
        <q-icon name="person" />
      </template>
    </q-input>
    <q-input
      square
      clearable
      :value="modelLogin.magicWords"
      type="password"
      label="Password"
      autocomplete="current-password"
      @input="setModelLoginValue({ 'value': $event, 'name': 'magicWords'})"
    >
      <template v-slot:prepend>
        <q-icon name="lock" />
      </template>
    </q-input>
    <div class="q-mt-sm">
      <q-btn
        unelevated
        size="md"
        type="submit"
        color="primary"
        class="full-width text-white"
        label="Connexion"
      />
      {{ this.modelLogin }}
    </div>
  </q-form>

  <!-- <q-form>
    <q-input label="Identité" />
    <q-input label="Mots magiques" />
    <q-btn
      type="submit"
      label="Soumettre"
    />
  </q-form> -->
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'

export default {
  // props: ['modelLogin'],
  computed: mapState({
    modelLogin: state => state.auth.modelLogin
  }),
  methods: {
    ...mapActions({}),
    ...mapMutations({
      setModelLoginValue: 'auth/setModelLoginValue'
    })
  }
}
</script>
