<template>
  <div class="">
    <cool-btn
      :btnProps="this.btnProps"
      :btnOn="this.btnOn"
    />
    <q-dialog v-model="dialog">
      <q-card
        :style="{ width: '40%' }"
        square
      >
        <slot name="full-card">
          <q-toolbar class="bg-primary text-white">
            <q-toolbar-title>
              <span class="text-weight-bold">
                <slot name="title-card">Titre</slot>
              </span>

            </q-toolbar-title>

            <q-btn
              flat
              round
              dense
              icon="close"
              v-close-popup
            />
          </q-toolbar>

          <q-card-section>
            <slot name="inner-section-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repellendus sit voluptate voluptas eveniet porro. Rerum blanditiis perferendis totam, ea at omnis vel numquam exercitationem aut, natus minima, porro labore.</slot>
          </q-card-section>
        </slot>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'BtnModal',
  props: {
    btnProps: Object
  },
  data: function () {
    return {
      dialog: false
    }
  },
  computed: {
    btnOn () {
      var o = {
        click: this.openDialog
      }
      return o
    }
  },
  methods: {
    openDialog: function () {
      this.dialog = true
    }
  },
  components: {
    'cool-btn': () => import('components/Btn.vue')
  }
}
</script>
