<template>
  <div class="">
    <q-page
      padding
      class="bg-grey-3 q-pb-lg"
    >
      <q-scroll-area
        :thumb-style="thumbStyle"
        :style="style"
      >
        <slot></slot>
      </q-scroll-area>
    </q-page>
  </div>
</template>

<script>
import { colors } from 'quasar'

export default {
  computed: {
    style () {
      return {
        height: '90vh',
        maxWidth: '100%'
      }
    },
    thumbStyle () {
      return {
        right: '2px',
        backgroundColor: colors.getBrand('primary'),
        width: '5px',
        opacity: 1
      }
    }
  }
}
</script>
